<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/Toard.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <span class="fixed border bottom left"
      ><b>ytmous</b> - Anonymous Youtube Proxy</span
    >
    <a class="fixed border bottom right" href="#sbox">Search</a>
    <div id="sbox" class="border fixed bottom right popup">
      <form action="/s" method="GET">
        <input name="q" class="border" type="text" placeholder="Search video...." />
      </form>
    </div>

    <div style="padding: 25px">
      <h2><%= title %></h2>
      <span><%= content.toString() %></span>
    </div>
  </body>
</html>
