<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <meta name="description" content="<%= content %>" />
  </head>
  <style>
    h2 {
      margin-bottom: 5px;
    }

    form {
      margin-top: 50px;
    }
  </style>
  <body style="color: grey; font-family: sans-serif;">
    <div style="margin-top: 25vh; margin-left: 5px;">
      <h2><%= title || "Sorry, an error just occured." %></h2>
      <small><%= content %></small><br>
      <form action="/s" method="GET">
        <small style="color: black;"><b>ytmous</b> - Anonymous YouTube Proxy</small><br>
        <input class="formtext" name="q" type="text" placeholder="Search Videos...." />
        <input class="formtext" type="submit" value="Search" />
      </form>
    </div>

    <div style="padding: 5px; position: absolute; bottom: 5px;">
      <small>If you are this server owner, Check server log for more information about this error.</small>
    </div>
  </body>
</html>
