<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Toard.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>ytmous</title>
  </head>
  <body>
    <div class="fixed bottom left">
      <span class="border"><a href="/"><b>ytmous</b></a> - Anonymous Youtube Proxy</div>
    </div>
    <a class="fixed border bottom right" id="sbtn" href="#sbox">Search</a>
    <div id="sbox" class="border fixed bottom right popup">
      <form action="/s" method="GET">
        <input
          name="q"
          class="border"
          type="text"
          placeholder="Search video...."
          value="<%= query %>"
        />
      </form>
    </div>
    <% if (!res.results.length) { %>
    <% if (page > 1) { %>
    <div style="padding: 25px">
      <h2>No more results</h2>
      <span>There's no more results for <%= `"${query}"` %>.</span>
    </div>
    <% } else { %>
    <div style="padding: 25px">
      <h2>No result</h2>
      <span>No result was found for <%= `"${query}"` %>.<br><br>Tap <span class="border">Next Page</span> button to see whenever there's a result for your search again.</span>
    </div>
    <% } %>
    <% } %>

    <div id="relatedVideos">
     <% res.results.forEach(video => { %>
       <%- include("comp/videolist.ejs", { video }); %>
     <% }); %>
    </div>

    <style>
      body {
        display: block;
      }
    </style>
  </body>
</html>
