@font-face {
  font-family: ubuntu-regular;
  src: url(/Ubuntu-R.ttf);
}

body {
  font-family: helvetica;
}

video {
  width: 100%;
  height: auto;
}

/* img only shows up for thumbnail, and they’re completely small. */
img {
  max-width: 150px;
}

a {
  color: black;
}

#sbox:hover, #sbtn:hover + #sbox {
  visibility: visible;
}

#player {
  width: 60%;
  z-index: -1;
}

#relatedVideos {
  z-index: -1;
  position: static;
}

.rVideo {
  display: flex;
  padding: 3px;
}

.rVideoInfo {
  display: block;
  padding: 10px;
}

.rVideoInfo img {
  float: left;
}

/* Channel Info */
.chInf {
  border: solid 1px;
  border-radius: 2px;
  max-width: 72%;
  display: flex;
}

/* Mobile View */
@media only screen and (max-width: 960px) {
  body {
    display: block;
    margin: 0;
  }

  #player, #vidInfo {
    position: static;
    background: white;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
  }

  #relatedVideos {
    float: left;
    position: relative;
    padding: 2px;
  }
  
  .rVideo, #chnInf, #vidInfo {
    position: relative;
    padding: 2.5px;
  }
  
  .rVideoInfo {
    width: 170px;
  }
  
  .img {
    max-width: 200px;
    height: auto;
  }
  
  video {
    width: 100%;
    max-width: 100%;
  }
}
